//ec2-13-58-177-100.us-east-2.compute.amazonaws.com:8081/repository/npm-group/:_authToken=NpmToken.81792d62-8ce5-36ce-a085-8b11a9e23e5e
email=chiemelaumeh1@gmail.com
always-auth=true
registry=http://ec2-13-58-177-100.us-east-2.compute.amazonaws.com:8081/repository/npm-group/
