:root {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* {
  --reddit_dark: #030303;
  --offBlack: #272728;
  --reddit_lightgrey: rgb(128, 124, 124);
  --reddit_grey: rgb(38, 34, 34);
  --white: #fff;
  --offwhite: #d6d6d6;
  --reddit_border: #343536;
}
.below-header {
  height: 10rem;
  background-color: var(--reddit_dark);
  /* margin: auto; */
  /* object-fit: contain; */

  /* background-image: url("https://i.pinimg.com/564x/d6/aa/82/d6aa82bf6c37530d7521fd3f4164d516.jpg"); */
  /* background-size: cover; */
}
.header-image {
  height: 5rem;
  width: 100vw;
}
.com-div {
  height: 80px;
  width: 80px;
  margin: 0 16px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -12px;
}
.com-icon {
  height: inherit;
  width: inherit;
}
.sub-main {
  background-color: var(--reddit_grey);
  display: flex;
}
.sub-main-light {
  background-color: whitesmoke;
  display: flex;
  border: 1px solid var(--reddit_dark);
}
.header-title {
  color: var(--offwhite);
  font-weight: 400;
  font-size: 1.35rem;
  margin-bottom: -5px;
  letter-spacing: 1px;
}
.header-title-light {
  color: var(--offBlack);
  font-weight: 400;
  font-size: 1.35rem;
  margin-bottom: -5px;
  letter-spacing: 1px;
}
.header-board {
  color: orangered;
  font-weight: 400;
}
.header-texts {
  margin-top: -5px;
  padding-left: 16px;
}
.header-texts-light {
  margin-top: -5px;
  padding-left: 16px;
}

.login-div {
  margin: 0 8px;
  display: none;
  /* background-color: #fff;
  display: flex;
  flex-direction: row; */
}

.auth-page {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* margin-top: 5em; */
}

.comment-btn {
  border-radius: 2rem;
}
.comment-form {
  margin-right: 0.75rem;
}
.comment-form textarea {
  display: inline-block;
  background-color: var(--reddit_midgrey);
  border: none;
  border-radius: 4px;
  /* width:96%; */
  height: 6rem;
  outline: none;
  color: var(--offwhite);
  padding: 10px 10px;

  max-width: 97%;
  min-width: 97%;
  min-height: 6rem;
  max-height: 15rem;
}
.btn-div {
  text-align: end;
  margin-top: 1rem;
  margin-right: 20%;
}

.comment-sub {
  display: flex;
  justify-content: center;
}
.post-main {
  display: block;
}
.post-sub h5 {
  color: var(--reddit_lightgrey);
  font-weight: 300;
  font-size: 1px;
}
.hide-auth-page {
  display: none;
}
.hide-post-modal-page {
  display: none;
}

.auth-sub {
  background-color: var(--reddit_dark);
  padding: 10px 20px;
  color: var(--offwhite);
  width: 70vw;
  border: 1px solid var(--reddit_border);
  /* margin: 0 auto; */
  margin-top: -15rem;
  border-radius: 12px;
  padding-right: 34px;
}

.upload-page {
  /* height: 100%;
  width: 100%; */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;

  /* justify-content: center;
  align-items: center; */
display: flex;
justify-content: center;
align-items: center;
  height: 100vh;
  width: 100vw;
  
  /* left: 10%; */
  transform: translate(0, -50%);
}
.hide-upload-page {
  display: none;
}
.upload-sub {
  background-color: var(--reddit_dark);
  padding: 10px 20px;
  color: var(--offwhite);
  /* position: absolute; */
  /* width: max-content; */

  height:70vh;
  border: 1px solid var(--reddit_border);
  margin-top: 145%;
  border-radius: 4px;
}
.image-div {
  /* border: 1px solid red; */
  height: 80%;
  width: 95%;
  margin-left: 0.5rem;
}
.image-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  /* border: 1px solid red; */
  height: 7rem;
  /* align-content: space-around; */

  align-items: flex-end;
}

.main-image {
  height: 5rem;
  width: 100%;
  height: 80%;
  border-radius: 2rem;
}
.image-btn{
  height: 2rem;
  width: 5rem;
  margin-top: 1rem;
}
.comments-p{
  font-size: 1rem;
}
.image-file{
  height: 2rem;
  /* width: 5rem; */
}
.auth-sub h1 {
  margin: 0;
  margin-bottom: 20px;
}
.auth-sub input {
  margin-bottom: 8px;
  width: 100%;
  background-color: var(--reddit_grey);
  border: none;
  height: 1.5rem;
  padding: 8px;
  border: var(--reddit_dark);
  border-radius: 4px;
  display: block;
  color: var(--offwhite);
}
.auth-sub span {
  color: var(--reddit_lightgrey);
}
/* .auth-sub button {
  width: 105%;
  border-radius: 4px;
  margin: 8px auto;
  border: none;
} */

.login-p-1 {
  margin-left: 2rem;
  height: 2rem;
  width: 7rem;
  font-size: 0.75rem;
  margin-top: 1rem;
}
.login-p-2 {
  margin-left: 2rem;
}
.auth-sub button:nth-child(2) {
  background-color: var(--reddit_dark);
  color: #ff4500;
  width: 5rem;
  border: 1px solid red;
  opacity: 0.7;
  height: 2rem;
}

.edit-delete-div {
  display: flex;
  justify-content: space-evenly;

  margin-left: 40%;
  width: 20rem;
}
/* .auth-sub input:nth-child(2) {
  margin-bottom: 8px;
} */

.login-state {
  display: flex;
  /* align-items:center; */
  /* justify-content:center; */
  width: 100%;
}
.community-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.delete-post-btn {
  border: 1px solid var(--reddit_border);
  background-color: var(--reddit_lightgrey);
  border-radius: 4rem;
  padding: 6px 12px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  width: 1rem;
}
.hide-community-page {
  display: none;
}

.my-comment {
  color: orangered;
  display: inline;
}

.hide-delete-btn {
  display: none;
}
@media screen and (max-width: 600px) {
  .login-div {
    display: block;
  }

}
@media screen and (min-width: 400px) {
  .auth-sub {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .auth-sub {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .auth-sub {
    width: 90%;
  }


}
@media screen and (min-width: 2100px) {
  .auth-sub {
    width: 10%;
  }

}

