:root {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* {
  --reddit_dark: #030303;
  --offBlack: #272728;
  --reddit_lightgrey: rgb(128, 124, 124);
  --reddit_grey: rgb(38, 34, 34);
  --white: #fff;
  --offwhite: #d6d6d6;
  --reddit_border: #343536;
}
.below-header {
  height: 10rem;
  margin: auto;
  /* object-fit: contain; */

  /* background-image: url("https://i.pinimg.com/564x/d6/aa/82/d6aa82bf6c37530d7521fd3f4164d516.jpg"); */
  background-size: cover;
}
.com-div {
  height: 80px;
  width: 80px;
  margin: 0 16px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -12px;
}
.com-icon {
  height: inherit;
  width: inherit;
}
.sub-main {
  background-color: var(--reddit_grey);
  display: flex;
}
.sub-main-light {
  background-color:whitesmoke;
  display: flex;
  border: 1px solid var(--reddit_dark);
}
.header-title {
  color: var(--offwhite);
  font-weight: 400;
  font-size: 1.35rem;
  margin-bottom: -5px;
  letter-spacing: 1px;
}
.header-title-light {
  color: var(--offBlack);
  font-weight: 400;
  font-size: 1.35rem;
  margin-bottom: -5px;
  letter-spacing: 1px;
 
}
.header-board {
  color: orangered;
  font-weight: 400;
}
.header-texts {
  margin-top: -5px;
  padding-left: 16px;
}
.header-texts-light {
  margin-top: -5px;
  padding-left: 16px;
}

.login-div {
  margin: 0 8px;
  display: none;
  /* background-color: #fff;
  display: flex;
  flex-direction: row; */
}

.auth-page {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.post-modal-page {
  /* padding-top: 15rem; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: scroll;
}
.post-sub {
  background-color: var(--reddit_dark);
  padding: 20px 20px;
  color: var(--offwhite);
  line-height: 1.5rem;
  width: 50vw;
  height: auto;
  border: 1px solid var(--reddit_border);
  border-radius: 4px;
  align-items: center;
}
.post-sub hr {
  margin:1rem 0;

}
.comment-btn {
  border-radius: 2rem;
}
.comment-form textarea {
  /* display:inline-block; */
  background-color: var(--reddit_midgrey);
  border: none;
  border-radius: 4px;
  width:96%;
  height: 6rem;
  outline: none;
  color: var(--offwhite);
  padding: 10px 10px;

  max-width: 97%;
  min-width: 97%;
  min-height: 6rem;
  max-height: 15rem;
}
.btn-div {
  text-align:end;
  margin-top: 1rem;
}


.comment-sub {
  display: flex;
  justify-content: center;


}
.post-main {
  display: block;
}
.post-sub h5 {
  color: var(--reddit_lightgrey);
  font-weight: 300;
  font-size: 1px;
}
.hide-auth-page {
  display: none;
}
.hide-post-modal-page {
  display: none;
}

.auth-sub {
  background-color: var(--reddit_dark);
  padding: 10px 20px;
  color: var(--offwhite);
  width: 70%;
  border: 1px solid var(--reddit_border);
  margin: 0 auto;
  border-radius: 4px;
  padding-right: 34px;
}
.community-sub {
  background-color: var(--reddit_dark);
  padding: 10px 20px;
  color: var(--offwhite);
  width: 90%;
  border: 1px solid var(--reddit_border);
  margin: 0 auto;
  border-radius: 4px;
  /* padding-right: 34px; */
}
.auth-sub h1 {
  margin: 0;
  margin-bottom: 20px;
}
.auth-sub input {
  margin-bottom: 8px;
  width: 100%;
  background-color: var(--reddit_grey);
  border: none;
  padding: 8px;
  border: var(--reddit_dark);
  border-radius: 4px;
  display: block;
  color: var(--offwhite);
}
.auth-sub span {
  color: var(--reddit_lightgrey);
}
.auth-sub button {
  width: 105%;
  border-radius: 4px;
  margin: 8px auto;
  border: none;
}
.login-p-1 {
  margin-left: 2rem;
}
.login-p-2 {
  margin-left: 2rem;
}
.auth-sub button:nth-child(2) {
  background-color: var(--reddit_dark);
  color: #ff4500;
  width: 5rem;
}
/* .auth-sub input:nth-child(2) {
  margin-bottom: 8px;
} */
.login-state {
  display: flex;
  /* align-items:center; */
  /* justify-content:center; */
  width: 100%;
}
.community-page {
  height: 100vh;
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
}
.hide-community-page {
 display: none;
}
.community-text{
  color: orangered;
  display: inline;
  
}
.my-comment{
  color: orangered;
  display: inline
}


@media screen and (max-width: 600px) {
  .login-div {
    display: block;
  }
}
@media screen and (min-width: 400px) {
  .auth-sub {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .auth-sub {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .auth-sub {
    width: 90%;
  }
}
@media screen and (min-width: 2100px) {
  .auth-sub {
    width: 10%;
  }
}
/* 
 @media screen and (min-width: 380px) {
  .post-sub {
    margin: auto;
    width: 80%;
  }
} 
@media screen and (min-width: 1024px) {
  .post-sub {
    width: 55%;
  }
} 
 @media screen and (min-width: 1400px) {
  .post-sub {
    width: 45%;
  }
} 
 @media screen and (min-width: 1900px) {
  .post-sub {
    width: 40%;
  }
}  */