:root {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* {
  --reddit_dark: #030303;
  --offBlack: #272728;
  --reddit_lightgrey: rgb(128, 124, 124);
  --reddit_grey: rgb(38, 34, 34);
  --white: #fff;
  --offwhite: #d6d6d6;
  --reddit_border: #343536;
}
.below-header {
  height: 10rem;
  margin: auto;
  /* object-fit: contain; */

  background-image: url("https://i.pinimg.com/564x/d6/aa/82/d6aa82bf6c37530d7521fd3f4164d516.jpg");
  background-size: cover;
}
.com-div {
  height: 80px;
  width: 80px;
  margin: 0 16px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -12px;
}
.com-icon {
  height: inherit;
  width: inherit;
}
.sub-main {
  background-color: var(--reddit_grey);
  display: flex;
}
.header-title {
  color: var(--offwhite);
  font-weight: 400;
  font-size: 1.35rem;
  margin-bottom: -5px;
  letter-spacing: 1px;
}
.header-board {
  color: var(--reddit_lightgrey);
  font-weight: 400;
}
.header-texts {
  margin-top: -5px;
  padding-left: 16px;
}

.login-div {
  margin: 0 8px;
  display: none;
  /* background-color: #fff;
  display: flex;
  flex-direction: row; */
}

.auth-page {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
}
.hide-auth-page{
  display: none;
}
.auth-sub {
  /* background-color: var(--reddit_dark);
  padding: 10px 20px;
  color: var(--offwhite); */
  /* margin: 0px 16px; */
  /* display:flex; */
  /* align-self: center;
  width: 50%;
  border: 1px solid var(--reddit_border);
  margin: 0 auto;
  border-radius: 4px;
  padding-right: 34px; */
}
.auth-sub {
 background-color: var(--reddit_dark);
  padding: 10px 20px; 
  color: var(--offwhite); 
   /* margin: 0px 16px;  */
  /* display:flex; */
 /* align-self: center;  */
  width: 70%;
  border: 1px solid var(--reddit_border);
  margin: 0 auto;
  border-radius: 4px;
  padding-right: 34px; 
}
.auth-sub h1 {
  margin: 0;
  margin-bottom: 20px;
}
.auth-sub input {
  margin-bottom: 8px;
  width: 100%;
  background-color: var(--reddit_grey);
  border: none;
  padding: 8px;
  border: var(--reddit_dark);
  border-radius: 4px;
  display: block;
  color:var(--offwhite)
}
.auth-sub span {
  color: var(--reddit_lightgrey);
}
.auth-sub button {
  width: 105%;
  border-radius: 4px;
  margin: 8px auto;
  border: none;
}
.login-p-1 {
  margin-left: 2rem;
}
.login-p-2 {
  margin-left: 2rem;
}
.auth-sub button:nth-child(2) {
  background-color: var(--reddit_dark);
  color:#FF4500;
  width: 5rem;
}
/* .auth-sub input:nth-child(2) {
  margin-bottom: 8px;
} */
.login-state {
  display: flex;
  /* align-items:center; */
  /* justify-content:center; */
  width: 100%;
}
@media screen and (max-width: 600px) {
  .login-div {
    display: block;
  }
}
@media screen and (min-width: 400px) {
  .auth-sub {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .auth-sub {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .auth-sub {
    width: 90%;
  }
}
@media screen and (min-width: 1900px) {
  .auth-sub {
    width: 10%;
  }
}
