:root {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* {
  --offBlack: #111;
  --reddit_dark: #030303;
  --reddit_grey: rgb(38, 34, 34);
  --reddit_midgrey: #222;
  --reddit_lightgrey: rgb(197, 195, 195);
  --white: #fff;
  --offwhite: #d6d6d6;
  --reddit_border: #343536;
}
.btn {
  outline: none;
  cursor: pointer;
}

.auth-sub button {
  width: 105%;
  border-radius: 4px;
  margin: 8px auto;
  border: none;
} 

.header-buttons {
  border: 1px solid var(--reddit_border);
  background-color: var(--reddit_lightgrey);
  border-radius: 4px;
  width: 1rem;
  padding: 14px 6px;
  font-weight: 600;
  margin: 8px 3rem; 
  width:20%;

 
}
.show-box p {
  padding: 10px 32px;
  background-color: var(--reddit_midgrey);
  margin-top: 0;
  margin-bottom: 0;
  color: #ff4500;
}
.show-box p:hover {
  background-color: var(--offwhite);
  color: var(--offBlack);
}

.link-box:hover {
  background-color: var(--offwhite);
  color: var(--offBlack);
}

.login-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 10px;
}


.invalid-credentials{
  color: red;
  opacity: 0.85;
  font-size: 1rem;
  margin-left: 2rem;
}

.forgot-password{
  font-size: 1rem;
  margin-left: 4.5rem;
  text-decoration: underline;

}
.credentials{
  font-size: 1rem;
}