/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* {
  --reddit_dark: #030303;
  --offBlack: #272728;
  --reddit_lightgrey: rgb(81, 79, 79);
  --reddit_grey: rgb(38, 34, 34);
  --white: #fff;
  --offwhite: #d6d6d6;
  --reddit_border: #343536;
}
.header {
  background-color: var(--reddit_dark);
  padding: 4px;
}
.header-light {
  background-color: whitesmoke;
  padding: 4px;
}
.sub-header {
  margin: 0 0px;
  display: flex;
  align-items: center;
  /* position: relative; */
}
.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 12px;
}
.form {
  background-color: var(--offBlack);
  display: flex;
  align-items: center;
  padding: 1px 16px;
  border-radius: 5px;
  border: 1px solid var(--reddit_border);
  flex-grow: 1;
}
.form-light {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 1px 16px;
  border-radius: 5px;
  border: 1px solid var(--reddit_border);
  flex-grow: 1;
}
.search-box {
  height: 2rem;
  background-color: inherit;
  outline: none;
  border: none;
  padding: 0 6px;
  display: block;
  color: var(--white); 
  flex-grow: 1;
}
.search-box-light {
  height: 2rem;
  background-color: inherit;
  outline: none;
  border: none;
  padding: 0 6px;
  display: block;
  color: var(--reddit_dark);
  flex-grow: 1;
}
.search-icon {
  color: var(--reddit_lightgrey);
  width: 1.5rem;
  height: 1.5rem;
}

::placeholder {
  font-weight: 200;
}
.icon {
  color: var(--offwhite);
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 8px;
}
.icon-light {
  color: var(--offBlack);
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 8px;
}

.new-comp{
  width:8rem;
  height: 8em;
  /* color: red; */
  border: 1px solid red;
  /* z-index: 5;  */
  /* position: absolute; */
  right: 40px;
  top: 140px;
  color: var(--offwhite);
  background-color: var(--reddit_midgrey);
  border: 1px solid var(--offwhite);
  /* z-index: 10; */
  /* border-radius: 4px; */
  display: flex;
  flex-direction: column;
}
.show-box {
  position: absolute;
  right: 0px;
  top: 50px;
  color: var(--offwhite);
  /* background-color:var(--offwhite); */
  border: 1px solid var(--offwhite);
  /* z-index: 10; */
  /* border-radius: 4px; */
  display: flex;
  flex-direction: column;
  width: 10rem;

  /* overflow: hidden; */
  /* display: none; */
}


.plus-btn{
  background-color: var(--reddit_border);
  padding: 0.75rem;
  color: #fff;
  border: none;
  outline: none;
  width: 10rem;
  height: 2.75rem;
  /* border-radius: 4px; */
  border-bottom: 1px solid var(--reddit_dark);
  cursor: pointer;

}
.plus-btn-light{
  background-color: #fff;
  padding: 0.75rem;
  color: var(--reddit_dark);
  border: none;
  outline: none;
  width: 10rem;
  height: 2.75rem;
  /* border-radius: 4px; */
  border-bottom: 1px solid var(--reddit_dark);
  cursor: pointer;

}
.border-buttom {
  border-bottom: 1px solid var(--offwhite);
  
}
.border-top {
  border-bottom: 1px solid var(--offwhite);
  
}
.login-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  margin-left: 1rem;


}
.orangered{
  color: orangered;
}

.plus-btn-icon{
  cursor: pointer;

  text-align: left;
  /* display: flex; */
  justify-content: space-around;
  background-color: var(--reddit_border);
  padding: 0.75rem;
  color: #fff;
  border: none;
  outline: none;
  width: 10rem;
  height: 2.75rem;
  /* border-radius: px; */
  border-bottom: 1px solid var(--reddit_dark);
}
.plus-btn-icon-light{
  cursor: pointer;

  text-align: left;
  /* display: flex; */
  justify-content: space-around;
  background-color: #fff;
  padding: 0.75rem;
  color: var(--reddit_dark);
  border: none;
  outline: none;
  width: 10rem;
  height: 2.75rem;
  /* border-radius: 4px; */
  border-bottom: 1px solid var(--reddit_dark);
}
.margin-right{
  margin-right: 3rem;
}

.link-box {
  display: flex;
  padding: 8px 32px;
  color: var(--offwhite);
  background-color: var(--reddit_midgrey);
  border: 1px solid var(--reddit_border);
  cursor: pointer;
}
.nav-icon{
  margin-left: 1rem;
}
/* .show-box p {
  padding: 10px 32px;
  background-color: var(--reddit_midgrey);
  margin-top: 0;
  margin-bottom: 0;
  color: #ff4500;
}
.show-box p:hover {
  background-color: var(--offwhite);
  color: var(--offBlack);
}

.link-box:hover {
  background-color: var(--offwhite);
  color: var(--offBlack);
} */

.hide-box {
  display: none;
}
.icon-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0 2px;
}

.default-icon {
  width: 4rem;
  height: 4rem;
  /* background-color: var(--offBlack); */
  /* margin-left: -0.4rem; */
}
.avatar-btn {

  border: 1px solid var(--reddit_border);
  background-color: inherit;
  width: 4.3rem;
  height: 2.25rem;
  border-radius: 4px;
  cursor: pointer;
  color: orangered;
  opacity: 0.8;
  /* border: 1px solid yellow; */
}
.avatar-btn-on {
  overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid var(--reddit_border);
    background-color: inherit;
    width: 4.3rem;
    height: 2.25rem;
    border-radius: 4px;
    cursor: pointer;
    color: orangered;
    opacity: 0.8;
    /* border: 1px solid yellow; */
  }
.avatar {
  width: 2.6rem;
  height: 2.1.2rem;
  background-color: var(--offBlack);
  margin-left: -0.4rem;
  /* border: 1px solid red; */

}
.avatar-image {
  width: 2.5rem;
  height: 2rem;
  background-color: var(--offBlack);
  margin-left: -0.4rem;
  border: 1px solid red;

}
.chevron {

  width: 1rem;
  height: 1rem;
  color: #d6d6d6;
  margin: 0 6px;
  /* border: 1px solid forestgreen; */

  /* margin-left: 0; */
}
.default-chevron{
  width: 3.5rem;
  height: 1.75rem;
  color: #d6d6d6;
  /* margin: 0 1px; */
  margin-right: 0.5rem
}
.matching-Pass {
  color: red;
  font-weight: 400;
  font-size: 1rem;
  /* padding-left: 4rem; */

}

.error-message{
  color: red;
  font-weight: 400;
  font-size: 1rem;
  /* padding-left: 4rem; */
}
