:root {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

}
* {
  --offBlack: #111;
  --reddit_dark: #030303;
  --reddit_grey: rgb(38, 34, 34);
  --reddit_midgrey: #222;
  --reddit_lightgrey: rgb(128, 124, 124);
  --white: #fff;
  --offwhite: #d6d6d6;
  --reddit_border: #343536;
}

.reddit-main {
  background-color: var(--reddit_dark);
  padding: 16px 24px;
}
.reddit-main,
p {
  color: var(--offwhite);
}
.first-input {
  border: 1px solid var(--reddit_border);
  display: flex;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--offBlack);

}

.input-avatar {
  background-color: #272728;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
}

.input-avatar img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
  padding-left: 5px;
  padding-top: 5px;
}
.first-input form {
  display: flex;

  flex-grow: 1;
}
.first-input input {
  background-color: var(--reddit_grey);
  outline: none;
  border: none;

  padding: 1px 12px;
  border-radius: 5px;
  margin-left: 20px;
  color: var(--offwhite);
  display: flex;
  flex-grow: 1;

  /* width: 40rem; */
}
::placeholder {
  color: var(--reddit_border);
}

.post-modal-page {

  /* height: 100%;
  width: 100%; */
  /* position: absolute;
  top: 0;
  left: 0; */
  /* background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: scroll; */
}
.post-modal-sub {
  background-color: var(--reddit_dark);
  padding: 20px 5px;
  height:30vh;
  color: var(--offwhite);
  width:65vw;
  border: 1px solid var(--reddit_border);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* height: 20rem; */
  
}
.post-modal-sub h3 {
  padding:0 13px;

}
.hide-post-modal-page {

  display: none;
}
.input {
  background-color: var(--reddit_midgrey);
  border: none;
  border-radius: 4px;
  width: 90%;
  margin: auto;
  outline: none;
  color: var(--offwhite);
}
.input-box {
  margin-bottom: .5rem;
  padding: 10px 10px;
}
.textarea-box {
  padding: 10px 10px;
  max-width: 90%;
  min-width: 90%;
  min-height: 40%;
}
.post-form-btn {
  border: none;
  font-weight: 600;
}
.btn {
  border-radius: 15px;
  cursor: pointer;
  padding: 0.4rem 1rem;
  
}

.post-form-btn-close { 
  cursor: pointer;
  background-color: var(--reddit_dark);
  color: #d6d6d6;
  margin-right: 1rem;
  /* outline: auto; */
  border:1px solid var(--offwhite);
  border-radius: 15px;
  cursor: pointer;
  padding: 0.4rem 1rem;

  

}
.post-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 0 rem; */
  align-items: center;
  max-width: 95%;


}