:root {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

}
* {
  --offBlack: #111;
  --reddit_dark: #030303;
  --reddit_grey: rgb(38, 34, 34);
  --reddit_midgrey: #222;
  --reddit_lightgrey: rgb(128, 124, 124);
  --white: #fff;
  --offwhite: #d6d6d6;
  --reddit_border: #343536;
}

.reddit-main {
  background-color: var(--reddit_dark);
  padding: 16px 0px;
}
.reddit-main-light {
  background-color: whitesmoke;
  padding: 16px 0px;
}
.reddit-main,
p {
  color: var(--offwhite);
}
.first-input {
  border: 1px solid var(--reddit_border);
  display: flex;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--offBlack);

}
.first-input-light {
  border: 1px solid var(--reddit_border);
  display: flex;
  border-radius: 4px;
  padding: 8px;
  background-color:whitesmoke;
  

}


.avatar-img{
  padding: 0.5rem;
  width: 20rem;
  background-color: #272728;
  margin-bottom: 0.5rem;
}
.input-avatar {
  /* background-color: #272728; */
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
}

.input-avatar img {
  width: 30px;
  height: 30px;
  /* filter: invert(100%); */
  padding-left: 5px;
  padding-top: 5px;
}
.first-input form {
  display: flex;

  flex-grow: 1;
}
.first-input-light form {
  display: flex;

  flex-grow: 1;
}
.share-box{
  border: 1px solid orangered;
  position: absolute;
  left:180px;
  width: max-content;
  padding: 0.75rem;
  border-radius: 1rem;
}
.first-input input {
  background-color: var(--reddit_grey);
  outline: none;
  border: none;

  padding: 1px 12px;
  border-radius: 5px;
  margin-left: 20px;
  color: var(--offwhite);
  display: flex;
  flex-grow: 1;

  /* width: 40rem; */
}
.first-input-light input {
  background-color: var(--offwhite);
  outline: none;
  border: none;

  padding: 1px 12px;
  border-radius: 5px;
  margin-left: 20px;
  color: var(--offwhite);
  display: flex;
  flex-grow: 1;

  /* width: 40rem; */
}
::placeholder {
  color: var(--reddit_border);
}

.post-modal-page {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;
  position: fixed;
  overflow: scroll;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.post-modal-sub {
  background-color: var(--reddit_dark);
  padding: 20px 5px;
  padding-left: 1rem;
  height:max-content;
  margin-top: 10rem;
  color: var(--offwhite);
  width:max-content;
  border: 1px solid rgba(255, 68, 0, 0.3);
  border-radius: 4px;
  /* display: flex; */
  flex-direction: column;
  overflow: hidden;
  /* height: 20rem; */
  
}
.height{
  height: 8rem;
}

.community-sub {
  background-color: var(--reddit_dark);
  padding: 5px 5px;
  padding-left: 1rem;
  color: var(--offwhite);

  border: 1px solid rgba(255, 68, 0, 0.3);

  border-radius: 4px;
  height:max-content;
  margin-top: 25vh;
  /* padding-right: 34px; */
}

.dropdown {
  width:95%;
}

.create-btn {
  width: 14rem;
  color: #d6d6d6;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  background-color:rgb(12, 110, 229);
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: -1.75rem;
  align-items: center;

}
.first-form-input{
  border: 1px solid var(--reddit_border);
  width: 90%;
  border-radius: 0.5rem;
  margin-left: 1rem;

}
.create-text{
  margin-left: 1rem;
  color: var(--reddit_border);
  opacity: 0.5;
  font-weight: 400;
  font-size: 0.75rem;
  

}
.create-comm {
  width: 5rem;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
}

.post-comm {
  width: 10rem;
  background-color: orangered;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
}

.cancel-comm{ 
  width: 5rem;
  border-radius: 15px;
  border: 1px solid var(--offwhite);
  font-weight: 600;
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
  color: var(--offwhite);
  background-color: var(--reddit_dark);
 
  

}

.cancel-create{
 
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  height: 5rem;
}

.post-btns {
  display: flex;
  flex-direction: column;
  margin-top: -1.75rem;
  align-items: flex-end;


}

.post-sub {
  background-color: var(--offBlack);
  padding: 10px 10px;
  color: var(--offwhite);
  line-height: 1.5rem;
  width: 95vw;
  /* height: auto; */
  border: 1px solid var(--reddit_border);
  border-radius: 4px;
  /* align-items: center; */
}
.post-sub hr {
  margin:1rem 0;

}
.post-modal-sub h3 {
  padding:0 13px;

}
.hide-post-modal-page {

  display: none;
}
.input {
  background-color: var(--reddit_midgrey);
  border: none;
  border-radius: 4px;
  width: 90%;
  margin: auto;
  outline: none;
  color: var(--offwhite);
}
.input-box {
  margin-bottom: .5rem;
  padding: 10px 10px;
}
.main-input{
  margin-bottom: .5rem;
  padding: 10px 10px;
  background-color: var(--reddit_midgrey);
  border: none;
  border-radius: 4px;
  width: 90%;
  margin: auto;
  outline: none;
  color: var(--offwhite);
}
.textarea-box {
  padding: 10px 10px;
  max-width: 90%;
  min-width: 90%;
  min-height: 40%;
}
.post-form-btn {
  width: 5rem;

  border-radius: 15px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.post-form-btn-close { 
  border-radius: 15px;
  border: 1px solid var(--offwhite);
  cursor: pointer;
  padding: 0.4rem 1rem;
  background-color: var(--reddit_dark);
  color: #d6d6d6;
  margin-right: 1rem;
  

}


.post-comments {
  background-color: var(--offwhite);
  width: 2rem;
  height:2rem ;
  border-radius: 50%;
  margin-bottom:0.2rem;

}
.selector {
  width: 60%;
  height: 2rem;
  padding: 0.25rem;
  /* margin-left: 4%; */
  margin-right: 15vw;
  color: #fff;
  background-color: var(--reddit_border);
}
.comment-div {
  margin-bottom: 1.75rem;

}
.comment-div p {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  /* display: inline; */
}
.rule-div {
  display: flex;
  align-items: center;
  justify-content: center;

}
.comment-div hr {
  opacity: 0.1;
  width: 95%;
  margin-top: 1.25rem;
  margin-bottom: 0;

}
.black {
  background-color: #111;
}
.body{
  background-color:var(--offBlack)
  /* height: 100%; */
 
}

