:root {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* background-color: var(--reddit_dark); */
}
* {
  --offBlack: #111;
  --reddit_dark: #030303;
  --reddit_grey: rgb(38, 34, 34);
  --reddit_midgrey: #222;
  --reddit_lightgrey: rgb(128, 124, 124);
  --reddit_text: rgb(215, 218, 220);
  --white: #fff;
  --offwhite: #d6d6d6;
  --reddit_border: #343536;
}

.reddit-story-closed {
  display: block;
  border: 1px solid var(--reddit_border);
  background-color: var(--reddit_midgrey);
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--reddit_lightgrey);
  cursor: auto;
}

.post-text{
  font-size: 1rem;
  font-weight: 200;
  margin-top: 0.7rem;
  line-height: 20px;
  word-spacing: 1px;
}
.reddit-story {
  display: block;
  border: 1px solid var(--reddit_border);
  background-color: var(--reddit_midgrey);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(255, 68, 0, 0.202); 


  text-decoration: none;
  color: var(--reddit_lightgrey);
}
.reddit-story-light {
  display: block;
  border: 1px solid var(--reddit_border);
  /* background-color: var(--offwhite); */
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--offBlack);
}

.reddit-story-light:hover {
  border: 1px solid var(--offBlack);
}

.reddit-story h5 {
  margin-top: 0;
  font-weight: 300;
  font-size: 1px;
  color: var(--reddit_lightgrey);
}
.reddit-story-light h5 {
  margin-top: 0;
  font-weight: 300;
  font-size: 1px;
  color: var(--offBlack);
}
.reddit-story p {
  line-height: 1.5rem;
}
.reddit-story-light p {
  line-height: 1.5rem;
}
.reddit-story h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.reddit-story-light h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.main-story {
  height: auto;
  /* padding: 0 24px; */
  padding-bottom: 1rem;

  /* width: 80vw; */
 /* background-color: aqua; */
  /* padding-bottom: 1rem; */
  color: var(--reddit_text);
}

.app-reddit-story {
  background-color: var(--reddit_dark);
  height: 120%;
}
.app-reddit-story-light {
  background-color: whitesmoke;
  height: 100%;
}

.comment-main {
  background-color: var(--reddit_dark);
  padding: 1rem 0;
  height: 100vh;
}

.posted-by-h5 {
  font-size: 0.8rem;
  font-weight: 300;
}
.text-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dots {
  width: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.community-text {
  color: orangered;
  display: inline;
  cursor: pointer;
}

.delete-btn {
  border: none;
  background-color: orangered;
  border-radius: 2rem;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  color: black;
  font-weight: 600;
}

.confirm-delete-btn {
  border: none;
  background-color: orangered;
  color: black;
  font-weight: 600;
  border-radius: 2rem;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  margin-left: -2rem;
}
.edit-btn {
  border: none;
  background-color: var(--offBlack);
  border-radius: 2rem;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
  color: #fff;
  border: 1px solid var(--offwhite);
  height: 2rem;
  width: 5rem;
}

.edit-delete-div {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  margin-right: 4rem;
  width: 2rem;
  height: 6rem;
  align-content: space-evenly;
}

.comment-body-div {
  border-left: 1px solid var(--reddit_border);
  padding: 0 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.comment-reply {
  color: var(--reddit_border);
  background-color: var(--reddit_dark);
  border: none;
  font-weight: 600;
  cursor: pointer;

  /* margin-left: 1rem; */
  /* margin-bottom: 1rem; */
}
.reply-icon {
  color: var(--reddit_border);
  font-weight: 600;
  font-size: 1.25rem;
}

.icon-reply-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;

  margin-bottom: 2rem;
  margin-top: 1rem;
}
.single-reply-div {
  /* border: 1px solid red; */
  border-left: 1px solid var(--reddit_border);
  padding: 0.5rem 1rem;
  margin-left: 1.3rem;
  margin-bottom: 1rem;

  /* margin: 6 0rem; */
}
textarea::placeholder {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.comment-cancel-btn {
  margin-bottom: 2rem;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-around; */
}
.reply-main-div p {
  margin-left: 0.5rem;
}
/* .reply-main-div {
  border: 1px solid red;
  margin-left: 0;
  

} */
.profile-timeago {
  font-weight: 300;
  /* padding */
  margin: 0 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hide-comment-reply {
  display: none;
}

.comment-btn {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
}
.cancel-btn {
  background-color: var(--reddit_dark);
  /* margin-left: 5rem; */
  color: var(--offwhite);
  border: 1px solid var(--offwhite);
  cursor: pointer;
}

.time-ago-div {
  margin-left: 1rem;
  color: var(--reddit_border);
}

.vote-icon {
  font-size: 1.5rem;

  opacity: 0.6;
  cursor: pointer;
  /* padding-right: 1rem; */
}

.vote-icon-number {
  font-size: 1rem;
  color: orangered;
  margin: 0 0.1rem;
  opacity: 0.7;
  padding: 0;
}

.voting-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  height: 3rem;
  align-items: center;
  width: 5rem;
  padding: 0;
  margin-right: 0.5rem;
}

.voting-reply {
  display: flex;
  margin-top: 1rem;
  padding: 0;
}
.vote-reply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
}
.voting-reply-main {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-reddit-div-fixed {
  /* background-color: red;
color: aqua; */
  position: fixed;
}
/* .main-reddit-div {
background-color: red;
color: aqua; 




} */

.post-icon {
  color: var(--offwhite);
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 8px;
  margin-right: 1rem;
}
.post-icon-light {
  color: var(--offBlack);
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 8px;
  margin-right: 1rem;
}
 .error-page{
  background-color: var(--reddit_dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;

  
 }
 .error-text{
  margin-bottom: 15%;
  color: #fff;
 }
 .error-back{

  border: 2px solid rgb(255, 68, 0);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--reddit_dark);
  margin-top: 5rem;


  
 }
 .error-icon{
  color: orangered;
  font-size: 20rem;
 }
html,
body {

 background-color: var(--reddit_dark);
}